body{
	background: #232323;
}
h1{
	color: white;
text-align: center;
}

#stripe{
	background: white;
	text-align: center;
	height: 30px;
}

/*#message{
	color: white;
}*/

.square{
	float: left;
	background: blue;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
}

#container{
	margin: 0 auto;
	max-width: 600px;
}

.selected{
	background: blue;
}